@import '../../assets/styles/Defaults/Defaults.scss';
.container {
    padding: 3rem 10rem;
}

.main {
    display: flex;
    padding: 3rem;
    box-shadow: $boxshadow;
    border-radius: 15px;
}

.pic {
    width: 60%;
}

.text {
    h1,
    h3 {
        direction: rtl;
    }
    h1 {
        color: $epiblue;
        border-right: 5px solid $green;
        padding-right: 1rem;
    }
}

.input {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    input {
        width: 70%;
        border: none;
        background-color: rgb(219, 219, 219);
        color: black;
        direction: rtl;
        padding-right: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-radius: 0px 7px 7px 0px;
        font-size: 15px;
    }
     ::placeholder {
        color: black;
        text-align: center;
    }
    input:focus {
        outline: 0;
    }
    button {
        background-color: rgb(219, 219, 219);
        border: none;
        border-radius: 7px 0px 0px 7px;
        color: white;
        padding: 0.5rem;
        cursor: pointer;
        p {
            background-color: $blue;
            padding: 0.5rem;
            border-radius: 7px;
        }
        width: 17%;
    }
    button:focus {
        outline: 0;
    }
}

@media(max-width:1200px) {
    .container {
        padding: 3rem 8rem;
    }
    .main {
        padding: 2rem;
    }
}

@media(max-width:1080px) {
    .container {
        padding: 3rem 7rem;
    }
    .main {
        padding: 1.5rem;
    }
}

@media(max-width:1016px) {
    .pic {
        width: 85%;
    }
}

@media(max-width:958px) {
    .container {
        padding: 3rem 4rem;
    }
}

@media(max-width:850px) {
    .container {
        padding: 3rem 2rem;
    }
}

@media(max-width:840px) {
    .main {
        flex-direction: column;
    }
    .pic {
        width: 60%;
        margin: 0 auto;
    }
    .input {
        justify-content: center;
    }
}

@media(max-width:514px) {
    .text {
        h1 {
            font-size: $head2;
        }
        h3 {
            font-size: $body2;
        }
    }
}

@media(max-width:420px) {
    .text {
        h1 {
            font-size: $head3;
        }
        h3 {
            font-size: $body2;
        }
    }
}

@media(max-width:411px) {
    .input {
        input {
            width: 100%;
        }
        button {
            width: 25%;
        }
    }
    .main {
        padding: 1.5rem 0.1rem;
    }
}

@media(max-width:280px) {
    .input {
        button {
            width: 29%;
        }
    }
    .container {
        padding: 3rem 1rem;
    }
}

.error {
    margin: 1rem;
    direction: rtl;
    display: none;
}

.active_error {
    display: block;
}