@import '../../../assets/styles/Defaults/Defaults.scss';
.button {
    background-color: #E6F3FF;
    color: $blue;
    border: none;
    cursor: pointer;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 800;
}

.button:focus {
    outline: 0;
}