@import '../../assets/styles/Defaults/Defaults.scss';
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .label {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 3rem;
    }
    .label2 {
        margin-right: 4.5rem;
        margin-bottom: 1rem;
    }
    .title {
        direction: rtl;
        color: $blue;
        display: flex;
        margin: 0 auto;
        width: 100%;
        padding-right: 1rem;
    }
    .desc {
        direction: rtl;
        display: flex;
        margin: 0 auto;
        width: 100%;
        padding-right: 1rem;
        padding-top: 1rem;
    }
    .input_section {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        input {
            width: 55%;
            padding: 1.5rem;
            border: none;
            background-color: darkgray;
            border-radius: 0px 7px 7px 0px;
            direction: rtl;
            color: white;
            font-size: 15px;
        }
        input:focus {
            outline: 0;
        }
        button {
            background-color: darkgray;
            border: none;
            border-radius: 7px 0px 0px 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0rem 1rem;
            cursor: pointer;
            p {
                background-color: $blue;
                color: white;
                display: flex;
                align-items: center;
                padding: 0.5rem;
                border-radius: 7px;
            }
        }
        button:focus {
            outline: 0;
        }
    }
}

.main {
    margin-top: 4rem;
}

.blue_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $blue;
    .blue_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        color: white;
    }
    padding:2rem 2rem;
    margin: 2rem 0rem;
}

.register {
    .second_title {
        color: $epiblue;
        direction: rtl;
        border-right: 3px solid $green;
        padding-right: 1.5rem;
        margin-right: 2rem;
    }
    .second_desc {
        direction: rtl;
        padding-right: 1.5rem;
        margin-right: 2rem;
        padding-top: 0.5rem;
    }
    .choose_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}